/* Member container */
.project-page {
  /* height: clamp(35rem, 65dvh, 65dvh); */
  background: linear-gradient(180deg, #0059b3, #87ceeb);
  color: white;
  text-align: center;
  padding-top: clamp(6rem, 12vw, 11rem);
  padding-left: 20vw;
  padding-right: 20vw;
  /* display: block;
  align-items: flex-start; */
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  /* Prevent content from overflowing */
  position: relative;
  table-layout: fixed;
  min-height: 85vh;
}

/* Table Styling */
.project-table {
  width: 100%;
  background: darkgray;
  color: #004466;
  margin-bottom: 2rem;
}

/* Table Headers */
.project-table th {
  background: #004466;
  color: white;
  padding: 1rem;
}

/* Table Rows */
.project-table td {
  padding: 1rem;
  border-bottom: 2px solid #ccc;
  text-align: left;
  max-width: 300px;
}

.project-table tbody tr:hover {
  background-color: #000a4c;
  color: white;
  opacity: 0.5;
}

.name-column {
  font-weight: bold;
  text-decoration: underline;
  width: 10rem;
}

.image-column,
.skills-column {
  width: 10rem;
}

.description-column {
  width: 35rem;
}

.created-at-column {
  width: 7rem;
  font-style: italic;
}

.search-form {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  align-items: stretch;
  margin-bottom: 1rem;
  padding: 0.15rem;
  border-radius: 4px;
  font-size: 1rem;
  color: white;
}

.search-input {
  padding: 0.25rem;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid #ccc;
  border-radius: 4px;
  min-width: 0;
  flex: 1;
  z-index: 10;
}

.search-input::placeholder {
  color: lightgray;
  opacity: 0.7;
  font-style: italic;
}

.search-button {
  white-space: nowrap;
  background-color: #013c5a;
  border-radius: 10px;
  width: 75px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.search-button:hover {
  background-color: #7e7f82;
  transform: translateY(-1px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
}

@media (prefers-color-scheme: dark) {
  .project-page {
    background: linear-gradient(180deg, #332941, #000a4c);
  }

  .search-input {
    background-color: rgba(255, 255, 255, 0.12);
  }

  .search-button {
    background-color: rgb(113, 113, 113);
  }
}

/* Tablet Screen */
@media (max-width: 1180px) {
  .project-page {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

/* Tablet Screen */
@media (max-width: 820px) {
  .project-page {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  /* Hide name(2), description(3), created-at(4) by default */
  .project-table td:nth-child(3),
  .project-table td:nth-child(4),
  .project-table th:nth-child(3),
  .project-table th:nth-child(4) {
    display: none;
  }

  .image-column {
    width: 30%;
  }
  .name-column {
    width: 25%;
  }

  .skills-column,
  .description-column {
    width: 45%;
  }

  /* When a row is "expanded", show the hidden columns over the name columns */
  .expanded td:nth-child(3) {
    display: table-cell;
  }
  .expanded td:nth-child(5) {
    display: none;
  }
}

/* Phone Screen */
@media (max-width: 480px) {
  .project-page {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  /* Hide name(2), description(3), created-at(4) by default */
  .project-table td:nth-child(1),
  .project-table td:nth-child(3),
  .project-table td:nth-child(4),
  .project-table th:nth-child(1),
  .project-table th:nth-child(3),
  .project-table th:nth-child(4) {
    display: none;
  }

  .name-column {
    width: 40%;
  }

  .skills-column {
    width: 60%;
  }

  /* When a row is "expanded", show the hidden columns over the name columns */
  .expanded td:nth-child(1) {
    display: flex;
  }
  .expanded td:nth-child(2) {
    display: none;
  }
}
