/* Tablet screen */
@media (max-width: 768px) {
  .container,
  .navbar,
  .hero,
  .content,
  .footer {
    padding: 1rem;
  }
}

/* Phone screen */
@media (max-width: 480px) {
  .container,
  .hero,
  .navbar,
  .content,
  .footer {
    padding: 0.5rem; /* Minimal padding for mobile */
  }
}

/* Hero Section */
.hero {
  height: 75dvh; /* Viewport height */
  background: linear-gradient(180deg, #0059b3, #87ceeb); /* Gradient blue */
  color: white;
  text-align: center;
  padding: 2rem 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 3rem;
  margin: 0;
}

.hero p {
  font-size: 1.25rem;
  margin: 1rem 0;
}

.hero .buttons {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.hero .buttons a {
  padding: 0.75rem 1.5rem;
  color: white;
  background: #004080;
  border-radius: 0.5rem;
  text-decoration: none;
  font-weight: bold;
}

.hero .buttons a:hover {
  background: #003060;
}

/* Content Section */
.content {
  background: white;
  padding: 4rem 20vw;
  text-align: center;
}

.content h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #333;
}

.content p {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 2rem;
}

.content .skills {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.content .skills div {
  padding: 1rem;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  width: 150px;
  text-align: center;
}

.content .skills div:hover {
  background: #f1f1f1;
}

/* Footer */
.footer {
  text-align: center;
  padding: 2rem 20vw;
  background: #f9f9f9;
  color: #555;
  border-top: 1px solid #ddd;
}

.footer-container {
  font-size: 18px;
  display: flex;
  justify-content: space-between; 
  /* align-items: center; Vertically center items */
  /* padding: 1rem 2rem; Add padding */
  flex-wrap: wrap; /* Wrap items on smaller screens */
}

.footer-link {
  display: flex;
  gap: clamp(1rem, 5vw, 5rem);
  align-items: center;
}

.footer-link a:hover {
  background-color: gray;
  color: white;
  font-weight: bold;
  opacity: 0.70;
}

.social-icon {
  display: flex;
  gap: 1vw;
}

.social-icon a {
  width: 24px;
  height: 24px;
}
.social-icon a:hover {
  opacity: 0.60;
}

.footer-copyright {
  padding: 1rem;
  font-size: 16px;
}