/* Hero Section */
.hero {
  height: clamp(35rem, 65dvh, 65dvh); 
  background: linear-gradient(180deg, #0059b3, #87ceeb);
  /* background: url('/images/portrait.JPG'); */
  color: white;
  text-align: center;
  padding-top: 5rem;
  padding-left: 20vw;
  padding-right: 20vw;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  overflow: hidden; /* Prevent content from overflowing */
  position: relative;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap; 
  max-width: 40%;
  transform: translateX(150px);
}

.hero h1 {
  font-size: clamp(1.5rem, 5vw, 3rem);
  margin: 0;
}

.hero p {
  font-size: clamp(1rem, 3vw, 1.25rem);
  margin: 1rem;
}

.hero .buttons {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.hero .buttons a {
  padding: 0.75rem 1.5rem;
  color: white;
  background: #004080;
  border-radius: 0.5rem;
  text-decoration: none;
  font-weight: bold;
}

.hero .buttons a:hover {
  background: #003060;
}

/* Image Section */
.hero .imageContainer {
  flex: 1; /* Take up equal space */
  display: flex;
  justify-content: center;
  align-self: flex-end; /* Align the image at the bottom */
}

.hero .profileImage {
  max-width: 100%;
  object-fit: contain;
  height: auto;
}

/* Footer */
.footer {
  text-align: center;
  padding: 2rem 20vw;
  background: #f9f9f9;
  color: #555;
  border-top: 1px solid #ddd;
  height: clamp(5rem, 10vh, 8rem); 
}

.footer-container {
  font-size: 18px;
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap; /* Wrap items on smaller screens */
}

.footer-link {
  display: flex;
  gap: clamp(1rem, 5vw, 5rem);
  align-items: center;
}

.footer-link a:hover {
  background-color: gray;
  color: white;
  font-weight: bold;
  opacity: 0.70;
}

.social-icon {
  display: flex;
  gap: 1vw;
}

.social-icon a {
  width: 24px;
  height: 24px;
}
.social-icon a:hover {
  opacity: 0.60;
}

.footer-copyright {
  padding: 1rem;
  font-size: 16px;
}

/* Phone screen */
@media (max-width: 480px) {
  .container,
  .content,
  .footer {
    padding: 0.5rem; 
  }
}

/* Phone screen */
@media (max-width: 480px) {
  .hero {
    padding-left: 0.5rem; 
    padding-right: 0.5rem;
  }
}

@media (max-width: 480px) {
  .imageContainer,
  .profileImage {
    display: none;
  }
}

/* Tablet screen */
@media (max-width: 768px) {
  .container,
  .content,
  .footer {
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  .hero {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (max-width: 768px) {
  .imageContainer,
  .profileImage {
    display: none;
  }
}
