.experience h1{
    color: #003060;
    font-weight: bold;
    font-size: large;
}

[data-theme = "dark"] .experience h1 {
    color: rgb(229, 171, 124);
}

.experience h2{
    font-weight: bold;
}

.experience ul{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
}

.experience li{
    margin-bottom: 0.5rem;
}